footer {
    min-height: 10vh;
    display: grid;
    justify-items: start;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 100px;
    }
section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 50px;
    
}

header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 100px;
    align-items: center;

}
header img {
    justify-self: left;

}

header nav {
    justify-self: right;
}

#container1 {
    display: grid;
    grid-template-columns: 1fr;
    background-color: blanchedalmond;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black; 
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;       
}


#container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 40px;
    background-color: burlywood;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

#container3 {
    display: grid;
    grid-template-columns: 1fr;
    background-color: seashell;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    border-width: 2px;
    border-style: solid ;
    border-color: black;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

#container4 {
    display: grid;
    grid-template-columns: 1fr;
    background-color:beige;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    border-width: 2px;
    border-style: solid ;
    border-color: black;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#container5 {
    display: grid;
    grid-template-columns: 1fr;
    background-color: bisque;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    border-width: 2px;
    border-style: solid ;
    border-color: black;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#team p{
display: none;
}

#container4 div{
    display: contents;
}

@media only screen and (min-width: 720px) {
    
    #team p {
        display: contents;
    }
}

@media only screen and (min-width: 950px) {
        #container4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center
              }
        
       #team p{
            display: contents;
        }

        #container5 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-items: center;
    }
        #img5 {
            order: 2;
        }
}